In [1]:
from snowflake.snowpark import Session as sn
import pandas as pd

# Your user and password is unique to you
connector = {
    'account': 'tub49591.us-east-1',
    'user': '',
    'password': '',
    'role': 'sysadmin',
    'warehouse': 'MY_WAREHOUSE',
    'database': 'NINER_TRANSIT',
    'schema': 'transit_2019_script'}

C:\Users\Willy\.conda\envs\altair install\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
query = sn.builder.configs(connector).create()

In [3]:
command = 'SELECT * FROM "transit_2019";'
result = query.sql(command).collect()
query.close()

In [4]:
df = pd.DataFrame(list(result))
display(df)

,Building_Abbreviation,Building_Name,Id,Latitude,Longitude,File_Name
0,Atki,Atkins Library,1,35.305893,-80.732145,None
1,Auxi,Auxiliary Services Building,2,35.307772,-80.730500,None
2,BaTF,None,3,NaN,NaN,None
3,Band,Barnhardt SAC,4,35.306302,-80.734409,None
4,BelG,Belk Gymnasium,5,35.305401,-80.735525,None
...,...,...,...,...,...,...
65,Wach,None,66,NaN,NaN,None
66,Wall,Wallis Hall,67,35.311493,-80.733694,None
67,Winn,Winningham,68,35.305137,-80.730419,None
68,With,Witherspoon Hall,69,35.310855,-80.732324,None
69,Wood,Woodward Hall,70,35.307516,-80.735717,None

In [5]:
# CHANGE THIS
#Create data file
filename = 'Test' + '_Data.csv'
# Remove index while writing
df.to_csv(filename, index=False)
print (filename)

Test_Data.csv